.container {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 12px 12px;
  position: relative;
  background-color: white;
  margin: 7px 7px 7px 7px;
}

.container:hover {
  box-shadow: 1px 8px 20px lightgray;
  -webkit-transition: box-shadow .2s ease-in;
}

.content {
  height: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.name {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  color: rgb(174, 142, 0)
}

p.amount {
  font-size: 16px;
  margin: 0 0 4px 0;
  color: rgb(90, 90, 90)
}

.selectedAmount {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: rgb(198, 198, 198);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}